@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: no-repeat url(../img/cow.jpg);
  background-size: cover;
  height: 100vh;
  padding: 25px;
  display: flex;
}

#logs {
  margin-top: 63px;
  overflow-y: scroll;
  padding: 5px;
  background: rgba(255,255,255,0.5);
}

.game>h1 {
  display: inline;
  padding: 25px;
}
.panel {
  width: 300px;
  margin: 25px;
  padding: 15px;
  background: white;
  border-radius: 10px;
}
.panel>p {
  font-size: 20px;
}
#answers {
  max-height: 350px;
  overflow-y: scroll;
  background: rgb(128,128,128,0.1);
}
#answers>p {
  font-size: 14px;
  margin: 8px 10px;
}
#inp {
  width: 30px;
}
.buttons {
  margin-top: 10px;
}